<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>常见问题</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "assets/images/favicons/apple-touch-icon.png"%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "assets/images/favicons/favicon-32x32.png"%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "assets/images/favicons/favicon-16x16.png"%}">
    <link rel="manifest" href="{% static "assets/images/favicons/site.webmanifest">

    <!-- plugin scripts -->

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700%7CBarlow:300,400,500,600,700,800,900%7CPT+Sans:400,700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static "assets/css/animate.min.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/owl.carousel.min.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/owl.theme.default.min.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/magnific-popup.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/fontawesome-all.min.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/bootstrap-select.min.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/jquery.mCustomScrollbar.min.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/bootstrap-datepicker.min.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/vimns-icons.css"%}">



    <!-- template styles -->
    <link rel="stylesheet" href="{% static "assets/css/main.css"%}">
    <link rel="stylesheet" href="{% static "assets/css/responsive.css"%}">


</head>
<body>
    <div class="preloader">
        <img src="{% static "assets/images/loader.png"%} class="preloader__image" alt="">
    </div><!-- /.preloader -->
    <div class="page-wrapper">

        <header class="site-header-one">
            <nav class="main-nav__one stricky">
                <div class="container-fluid">
                    <div class="main-nav__logo-box">
                        <a href="http://localhost:8000/index">
                            <img width="137" src="{% static "assets/images/logo-1-1.png"%}" alt="">
                        </a>
                        <a href="#" class="side-menu__toggler"><i class="fa fa-bars"></i></a>
                    </div><!-- /.main-nav__logo-box -->
                    <div class="main-nav__main-navigation">
                        <ul class=" main-nav__navigation-box">
                            <li>
                                <a href="http://localhost:8000/index">首页</a>
                            </li>

                            <li>
                                 <a href="http://localhost:8000/prevention">预防传染病</a>
                            </li>

                            <li>
                                <a href="http://localhost:8000/faqs">常见问题</a>
                            </li>

                             <li>
                                <a href="https://youngbc.cn">白皮书</a>
                            </li>

                             <li>
                                <a href="http://localhost:5000/#/login">监管平台</a>
                            </li>

                            <li>
                                <a href="http://localhost:8000/users/login">登录</a>
                            </li>
                        </ul>

                     </div><!-- /.main-nav__main-navigation -->
                    <div class="main-nav__cta">
                    </div><!-- /.main-nav__cta -->
                    <div class="main-nav__right">
                        <a href="prevention.html" class="main-nav__btn">Prevention</a><!-- /.main-nav__btn -->
                    </div><!-- /.main-nav__right -->
                </div><!-- /.container-fluid -->
            </nav><!-- /.main-nav__one -->
        </header><!-- /.site-header-one -->



        <section class="page-header">
            <div class="container">
                <h2>FAQs</h2>
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><span>FAQs</span></li>
                </ul><!-- /.thm-breadcrumb -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="faq-one faq-one__faq-page">
            <div class="container">
                <div class="block-title text-center">
                    <p>Frequently Asked Questions </p>
                    <h3>Have any question?</h3>
                </div><!-- /.block-title -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>为什么用区块链</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>为什么用区块链 </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            
        
                            

                        </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <div class="accrodion-grp" data-grp-name="faq-two-accrodion">
                            
                            
                            <div class="accrodion ">
                                <div class="accrodion-title">
                                    <h4>我们的创新性</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>我们的创新性 </p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>

                        </div>
                    </div><!-- /.col-lg-6 -->

                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.faq-one -->
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <section class="cta-one">
            <div class="container">
                <div class="cta-one__left">
                    <h3>基于区块链的疫情监控系统</h3>
                </div><!-- /.cta-one__left -->
                <div class="cta-one__right">
                    <a href="#" class="thm-btn cta-one__btn">发现更多</a><!-- /.thm-btn cta-one__btn -->
                </div><!-- /.cta-one__right -->
            </div><!-- /.container -->
        </section><!-- /.cta-one -->
  





    <script src="{% static "assets/js/jquery.min.js"%}"></script>
    <script src="{% static "assets/js/bootstrap.bundle.min.js"%}"></script>
    <script src="{% static "assets/js/owl.carousel.min.js"%}"></script>
    <script src="{% static "assets/js/waypoints.min.js"%}"></script>
    <script src="{% static "assets/js/jquery.counterup.min.js"%}"></script>
    <script src="{% static "assets/js/TweenMax.min.js"%}"></script>
    <script src="{% static "assets/js/wow.js"%}"></script>
    <script src="{% static "assets/js/jquery.magnific-popup.min.js"%}"></script>
    <script src="{% static "assets/js/jquery.ajaxchimp.min.js"%}"></script>
    <script src="{% static "assets/js/jquery.validate.min.js"%}"></script>
    <script src="{% static "assets/js/bootstrap-select.min.js"%}"></script>
    <script src="{% static "assets/js/jquery.mCustomScrollbar.concat.min.js"%}"></script>
    <script src="{% static "assets/js/bootstrap-datepicker.min.js"%}"></script>
    <script src="{% static "assets/js/isotope.js"%}"></script>

    <!-- template scripts -->
    <script src="{% static "assets/js/theme.js"%}"></script>
    <script src="{% static "assets/js/testimonials-owl.carousel.config.js"%}"></script>
</body>

</html>